<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/resume">Resume</a></li>
	        		<li><a href="/web">Website Portfolio</a></li>
	        		<li><a href="/gallery">Photo Gallery</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:kwokadillo@gmail.com">email</a></li>
	        		<li><a href="https://github.com/dominickwok">github.com/dominickwok</a></li>
				</ul>
			</footer>
			<script type="text/javascript">
				(function() {
					var s = document.createElement("script");
					s.type = "text/javascript";
					s.async = true;
					s.src = '//api.usersnap.com/load/'+
					        'c05349ba-0a81-4491-a1cb-8094418ae365.js';
					var x = document.getElementsByTagName('script')[0];
					x.parentNode.insertBefore(s, x);
				})();
			</script>
		</body>
	</html>
